@{
    ViewData["Title"] = "Home Page";
}
<div class="inner">
	<header>
		<h1>Hello</h1>
		<p>Welcome to Bluebearbay!</p>
	</header>
	<section class="tiles">
		<article class="style1">
			<span class="image">
				<img src="images/t-shirts.jpg" alt="" />
			</span>
			<a href="TShirts.html">
				<h2>T-Shirts</h2>
				<div class="content">
					<p>We are here to present quality T-Shirts!</p>
				</div>
			</a>
		</article>
		<article class="style2">
			<span class="image">
				<img src="images/sweatshirts.png" alt="" />
			</span>
			<a href="Sweatshirts.html">
				<h2>Sweatshirts</h2>
				<div class="content">
					<p>Let our sweatshirts be your swag!</p>
				</div>
			</a>
		</article>
		<article class="style3">
			<span class="image">
				<img src="images/where my coffee at.png" alt="" />
			</span>
			<a href="Mugs.html">
				<h2>Mugs</h2>
				<div class="content">
					<p>Enjoy our state of the art mugs!</p>
				</div>
			</a>
		</article>
		<article class="style4">
			<span class="image">
				<img src="images/shower curtains.png" alt="" />
			</span>
			<a href="Shower-Curtains.html">
				<h2>Shower Curtains</h2>
				<div class="content">
					<p>Shower with the best designed showercurtians!</p>
				</div>
			</a>
		</article>
		<article class="style5">
			<span class="image">
				<img src="images/bath-mats.png" alt="" />
			</span>
			<a href="Bathroom-Mats.html">
				<h2>Bathroom Mats</h2>
				<div class="content">
					<p>Don't step on anything but the best of art in your bathroom!</p>
				</div>
			</a>
		</article>
		<article class="style6">
			<span class="image">
				<img src="images/BBBL.png" alt="" />
			</span>
			<a href="Cups.html">
				<h2>Cups</h2>
				<div class="content">
					<p>Drink with style!</p>
				</div>
			</a>
		</article>
		<article class="style2">
			<span class="image">
				<img src="images/Hats.png" alt="" />
			</span>
			<a href="Hats.html">
				<h2>Hats</h2>
				<div class="content">
					<p>Where your cap with swag!</p>
				</div>
			</a>
		</article>
		<article class="style3">
			<span class="image">
				<img src="images/blankets.png" alt="" />
			</span>
			<a href="Blankets.html">
				<h2>Blankets</h2>
				<div class="content">
					<p>Cuddle up cozy with some style!</p>
				</div>
			</a>
		</article>
		<article class="style1">
			<span class="image">
				<img src="images/pictures.png" alt="" />
			</span>
			<a href="Wall-Pictures.html">
				<h2>Wall Pictures</h2>
				<div class="content">
					<p>Put those pictures on your wall!</p>
				</div>
			</a>
		</article>
		<article class="style5">
			<span class="image">
				<img src="images/Area-Rugs.png" alt="" />
			</span>
			<a href="Area-Rugs.html">
				<h2>Area Rugs</h2>
				<div class="content">
					<p>Decorate your floors with style!</p>
				</div>
			</a>
		</article>
		<article class="style6">
			<span class="image">
				<img src="images/pet-beds.png" alt="" />
			</span>
			<a href="Pet-Beds.html">
				<h2>Pet Beds</h2>
				<div class="content">
					<p>Make your pets feel like you care!</p>
				</div>
			</a>
		</article>
		<article class="style4">
			<span class="image">
				<img src="images/miscelanious.png" alt="" />
			</span>
			<a href="Miscelanious.html">
				<h2>Miscelanious</h2>
				<div class="content">
					<p>Explore beyond!</p>
				</div>
			</a>
		</article>
	</section>
</div>
