@{
    ViewData["Title"] = "Home Page";
}
<div class="inner">
	<header>
		<h1>Hello</h1>
		<p>Welcome to Bluebearbay!</p>
	</header>
	<section class="tiles">
		<article class="style1">
			<span class="image">
				<img src="images/t-shirts.jpg" alt="" />
			</span>
			<a href="/Home/Create">
				<h2>T-Shirts</h2>
				<div class="content">
					<p>We are here to present quality T-Shirts!</p>
				</div>
			</a>
		</article>
		<article class="style2">
			<span class="image">
				<img src="images/sweatshirts.png" alt="" />
			</span>
			<a href="/Home/Sweatshirts">
				<h2>Sweatshirts</h2>
				<div class="content">
					<p>Let our sweatshirts be your swag!</p>
				</div>
			</a>
		</article>
		<article class="style3">
			<span class="image">
				<img src="images/where my coffee at.png" alt="" />
			</span>
			<a href="/Home/Mugs">
				<h2>Mugs</h2>
				<div class="content">
					<p>Enjoy our state of the art mugs!</p>
				</div>
			</a>
		</article>
		<article class="style4">
			<span class="image">
				<img src="images/shower curtains.png" alt="" />
			</span>
			<a href="/Home/ShowerCurtains">
				<h2>Shower Curtains</h2>
				<div class="content">
					<p>Shower with the best designed showercurtians!</p>
				</div>
			</a>
		</article>
		<article class="style5">
			<span class="image">
				<img src="images/bath-mats.png" alt="" />
			</span>
			<a href="/Home/BathroomMats">
				<h2>Bathroom Mats</h2>
				<div class="content">
					<p>Don't step on anything but the best of art in your bathroom!</p>
				</div>
			</a>
		</article>
		<article class="style6">
			<span class="image">
				<img src="images/BBBL.png" alt="" />
			</span>
			<a href="/Home/Cups">
				<h2>Cups</h2>
				<div class="content">
					<p>Drink with style!</p>
				</div>
			</a>
		</article>
		<article class="style2">
			<span class="image">
				<img src="images/Hats.png" alt="" />
			</span>
			<a href="/Home/Hats">
				<h2>Hats</h2>
				<div class="content">
					<p>Where your cap with swag!</p>
				</div>
			</a>
		</article>
		<article class="style3">
			<span class="image">
				<img src="images/blankets.png" alt="" />
			</span>
			<a href="/Home/Blankets">
				<h2>Blankets</h2>
				<div class="content">
					<p>Cuddle up cozy with some style!</p>
				</div>
			</a>
		</article>
		<article class="style1">
			<span class="image">
				<img src="images/pictures.png" alt="" />
			</span>
			<a href="/Home/WallPictures">
				<h2>Wall Pictures</h2>
				<div class="content">
					<p>Put those pictures on your wall!</p>
				</div>
			</a>
		</article>
		<article class="style5">
			<span class="image">
				<img src="images/Area-Rugs.png" alt="" />
			</span>
			<a href="/Home/AreaRugs">
				<h2>Area Rugs</h2>
				<div class="content">
					<p>Decorate your floors with style!</p>
				</div>
			</a>
		</article>
		<article class="style6">
			<span class="image">
				<img src="images/pet-beds.png" alt="" />
			</span>
			<a href="/Home/PetBeds">
				<h2>Pet Beds</h2>
				<div class="content">
					<p>Make your pets feel like you care!</p>
				</div>
			</a>
		</article>
		<article class="style4">
			<span class="image">
				<img src="images/miscelanious.png" alt="" />
			</span>
			<a href="/Home/Miscelanious">
				<h2>Miscelanious</h2>
				<div class="content">
					<p>Explore beyond!</p>
				</div>
			</a>
		</article>
	</section>
</div>
<div style="max-width: 1040px; margin: 0 auto;">
  <div>
  <a class="anchor" id="fitPrintAnchor" style="padding-top: 0px; margin-top: 0px;"></a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    iFrameResize(
    {
      log: false,
      checkOrigin: false,
      heightCalculationMethod: 'grow',
      autoResize: false,
      onMessage: function(messageData) {
        var jsonData = JSON.parse(messageData.message);
        if (jsonData.action == 'navigateTo') {
          window.onbeforeunload = null;
          window.parent.location.href= jsonData.data;
        }
        if (jsonData.action == 'scrollTo') {
          setTimeout(function () {
            document.getElementById('fitPrintAnchor').scrollIntoView({behavior: 'smooth', block: 'center'});
          },200);
        }
  },
      onInit: function(iframe)
      {
        $(document).ready(function()
        {
iframe.iFrameResizer = function() {
          $(window).on('scroll', () =>
          {
            const scrollFromTop = $(document).scrollTop();
            var fitPrintIframe = $("#fitPrintIframe");
            var offset = fitPrintIframe.offset();
            if (scrollFromTop > offset.top + 10)
            {
              iframe.iFrameResizer.sendMessage(scrollFromTop - (offset.top - 10));
            }
          });
        }
        });
      }
    }, '#fitPrintIframe');
  </script>
  <br>
  <iframe id="fitPrintIframe" frameborder="0" scrolling="no" src="https://shop.fitprint.io/v2.html?shop=d3a68eb7-95e7-4cfe-bf7f-f0eed0334743" width="100%" onload="iFrameResize({ log: false, checkOrigin: false, heightCalculationMethod: 'grow', autoResize: false, onMessage: function(messageData) {var jsonData = JSON.parse(messageData.message);if (jsonData.action == 'navigateTo') {window.onbeforeunload = null;window.parent.location.href= jsonData.data;}if (jsonData.action == 'scrollTo') {setTimeout(function () {document.getElementById('fitPrintAnchor').scrollIntoView({behavior: 'smooth', block: 'center'});},200);}},onInit: function(iframe) { $(document).ready(function () { $(window).on('scroll', () => { const scrollFromTop = $(document).scrollTop(); var fitPrintIframe = $('#fitPrintIframe'); var offset = fitPrintIframe.offset(); if (scrollFromTop > offset.top + 10) { iframe.iFrameResizer.sendMessage(scrollFromTop - (offset.top - 10)); }if (scrollFromTop == 0 ) { iframe.iFrameResizer.sendMessage(scrollFromTop); }  }); }); }}, '#fitPrintIframe');"></iframe>
  <style>
    iframe {
      width: 1px; min-width: 100%;
    }
  </style>
  </div>
  