@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="main">
	<div class="inner">
		<h1>Mugs!</h1>
		<span class="image main"><img src="/images/where my coffee at.png" alt="" /></span>
		<p>Mugs! Made to cator to your deepest needs!</p>
		<p></p>
		<p></p>
	</div>
</div>