@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="main">
	<div class="inner">
		<h1>Sweatshirts!</h1>
		<span class="image main"><img src="/images/sweatshirts.png" alt="" /></span>
		<p>Stay warm with different trending styles!</p>
		<p></p>
		<p></p>
	</div>
</div>